/* remove strikethrough in editing mode */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"],
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
  text-decoration: none;
}

/* remove strikethrough in reading mode */
ul > li.task-list-item[data-task="x"],
ul > li.task-list-item[data-task="X"] {
  text-decoration: none;
}

/* heading colors */
.markdown-rendered h1,
.markdown-rendered h2,
.markdown-rendered h3,
.HyperMD-header {
  color: hsl(calc(214 - 3), calc(88% * 1.02), calc(66% * 1.15));
}

